.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0.5em 1.5em;
    /*background-color: #fff;*/
    background-color: #1565c0;
    border-bottom: 1px solid #282c34
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 3em;
    margin-right: 1em;
}